.imageERP{
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {

    .imageERP {
        transform: scale(0.75);
        margin-left: 30%;
    }

    .imageEllipse24{
        transform: scale(0.9)
    }
  }